* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

:root {
  --light: #f9f9f9;
  --blue: #0d225a;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
}
.active {
  background-color: #0a256f !important;
  color: white !important;
  width: 70% !important;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }

  #content .bx-search {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    display: none;
  }
}

/* DASHBOARD */
.container-all {
  width: 100%;
  height: 100%;
}

.container-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.hero-image {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/tractor.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.hero-image img {
  object-fit: cover;
}

#login h4 {
  margin-bottom: 15px;
  margin-top: 65px;
}

#login h6 {
  font-size: 15px;
  font-weight: 600;
  text-align: start;
}

.tractor-div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #c4c3c3;
}

.error-container {
  width: 90% !important;
  /* display: flex; */
}

.form-container {
  display: flex;
}

.form-container input,
.form-container select {
  height: 3.25rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 89%;
  border: 1px solid #0d225a;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-container button {
  padding: 7px;
  border: none;
  background-color: #0d225a;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.submit {
  border: none;
  color: white;
  width: 60%;
  padding: 15px;
  font-weight: 600;
  background: #0d225a;
}

@media (max-width: 768px) {
  .hero-image {
    display: none;
  }
  .container-content {
    margin-left: 0;
  }
}

.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.jumbotron {
  background: #0d225a;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.jumbotron h1 {
  font-size: 27px;
  font-weight: bold;
}

.jumbotron p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .jumbotron {
    padding: 5px;
  }

  .jumbotron h1 {
    font-size: 17px;
  }

  .jumbotron p {
    font-size: 14px;
  }
}

/* TABLE */
#table {
  min-height: 22vh;
}

#table h3,
.card-header h2 {
  font-size: 22px;
  font-weight: bold;
}

.content-table tr td {
  margin: 10px 0;
  font-size: 14px;
  min-width: 100%;
}

.content-table tr td,
.content-table thead th {
  border: 1px solid #dddddd;
  text-align: left;
}

.content-table thead tr {
  background-color: #e6eaed;
  /* text-align: left; */
  font-weight: bold;
  color: black;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #0d225a;
}

/* MEDIA QUERY FOR TABLE */
@media (max-width: 768px) {
  #table {
    min-height: 20vh;
    overflow: scroll;
  }

  #table h3,
  .card-header h2 {
    font-size: 16px;
    margin: 13px 0;
  }
}

@media (max-width: 450px) {
  #table {
    min-height: 5vh;
  }
}

/* CARD */
#card .card {
  border: none;
}

input,
select,
textarea {
  border: 1px solid #0d225a !important;
  padding: 3px 5px;
  border-radius: 5px;
}

.card-header input:focus,
.card-header select:focus,
#table .form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#card input:focus,
.form-container select:focus,
.input-box textarea {
  border: none;
  outline: none;
  box-shadow: none;
}

.card-header {
  background-color: #e6eaed;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

/* MODAL FOR TRACROR MASTER */
.btn-secondary {
  background: #873e23 !important;
  border: none !important;
}

.btn-tertiary {
  background: #696000 !important;
  border: none !important;
}

.btn-primary {
  background: rgb(30, 109, 30) !important;
  border: none !important;
}

.btn-outline-secondary {
  background: rgb(169, 22, 22) !important;
}

.btn-custom {
  background: rgb(30, 109, 30) !important;
  border: 1px solid rgb(30, 109, 30) !important;
}

.check-container {
  display: flex !important;
  justify-content: flex-end;
}

/* Hide the inputs by default */
.hidden {
  display: none;
}

.altBtn button {
  background: #177584 !important;
}

/* USER MASTER */
.addNewButton button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  background: #0d225a !important;
  border: none;
}

.input-group button {
  color: white;
  border: none;
  background: #873e23;
}

@media (max-width: 768px) {
  .addNewButton button {
    margin-right: 0px !important;
  }
}

/* TRACTOR MASTER */
@media (max-width: 768px) {
  .row .col-lg-3 {
    margin-bottom: 10px;
  }

  .row .col-lg-2 {
    margin-top: 5px !important;
  }
}

/* MODEL MASTER */

@media (max-width: 768px) {
  #table .form-check {
    margin-top: 0 !important;
    margin-left: 14px !important;
  }
}

/* DAILY WORK */
.filter-container {
  display: flex;
  justify-content: center;
}

.date-input {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
  }

  #work .row .col-lg-6 {
    margin-top: 0 !important;
  }

  .date-input {
    padding: 5px 10px;
  }

  .input-box textarea {
    width: 100%;
  }
}

/* NEW REGISTRATION MODAL*/
#signUp {
  display: flex;
  justify-content: center;
  background-color: #f4f6f9;
}
#signUp p {
  margin: 10px 0 30px 0;
  font-weight: 500;
}
.signup-container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  background: #fdfdff;
}
.signup-container .title {
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.signup-container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100px;
  border-radius: 5px;
  background: linear-gradient(135deg, #15abc2, #12338e);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input,
.user-details .input-box select {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 15px;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #0d225a;
}
form .gender-details .gender-title {
  font-size: 17px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#male:checked ~ .category label .one,
#female:checked ~ .category label .two {
  background: #0d225a;
  border-color: #d9d9d9;
}

#males:checked ~ .category label .one,
#females:checked ~ .category label .two {
  background: #0d225a;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

/* admin dashboard page */
.dashboard-title {
  font-weight: 700 !important;
  font-size: 25px !important;
}

.dashboard-one {
  background: #f7f9ff !important;
  color: black !important;
}

.dashboard-two {
  background: #12a3ba !important;
  color: white !important;
}

.dashboard-three {
  background: #f7f9ff !important;
  color: black !important;
}

.dashboard p {
  color: black !important;
}

.dashboard ul li {
  color: black;
  margin-bottom: 25px !important;
}

.logout-btn {
  background-color: rgb(174, 20, 20) !important;
  color: white;
  border: none;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 6px;
}

/* reports */
iframe {
  width: 100% !important;
  height: 600px !important; /* Increase the height to make the preview larger */
  border: 1px solid #ccc;
}
